In [30]:
import smtplib
import configparser
import pandas as pd

In [20]:
#PASSWORDS CONFIGURATION
cfg = configparser.RawConfigParser()
cfg.read('/home/lmadiedo/Documentos/config_files.ini')
mail_config = cfg['mail_info']

MAIL_ADRRES = mail_config['adress']
MAIL_PASS = mail_config['password']

dbbfyngdqjizxqyl

In [33]:
df_1 = ([1,2,3,5])
df_2 = ([10,20,30,50])
df =pd.concat([pd.DataFrame(df_1),pd.DataFrame(df_2)],axis=1)
df

   0   0
0  1  10
1  2  20
2  3  30
3  5  50

In [28]:

from email.message import EmailMessage

msg = EmailMessage()
msg['Subject'] = 'Asunto'
msg['From'] = MAIL_ADRRES
msg['To'] = MAIL_ADRRES
msg.set_content ('cuerpo del email')


csv_file = '../data/results/result_challenge1.csv'

with open(csv_file,'rb') as file:
    file_data = file.read()
    file_name = 'result_challenge1.csv'

msg.add_attachment(file_data,maintype='csv',subtype='csv',filename = file_name)
    
with smtplib.SMTP_SSL('smtp.gmail.com',465) as smtp:  
    smtp.login(MAIL_ADRRES,MAIL_PASS)
    smtp.send_message(msg)

In [35]:
html = df.to_html()

In [36]:
html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>0</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>1</td>\n      <td>10</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>2</td>\n      <td>20</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>3</td>\n      <td>30</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>5</td>\n      <td>50</td>\n    </tr>\n  </tbody>\n</table>'